%h1 Products
=link_to "New Product", new_product_path
%table
  %thead
    %tr
      %th Name
      %th Price
      %th Created
      %th Updated
      %th
  %tbody
    -@products.each do |product|
      %tr
        %td=link_to product.name, product
        %td=product.price
        %td=product.created_at
        %td=product.updated_at
        %td
          =link_to "Show", product
          =link_to "Edit", edit_product_path(product)
          =link_to "Delete", product, method: :delete, data: {confirm: 'Are you sure?'}
